*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}
html,
body{
    width : 100%;
    overflow-x : hidden;
}
html{
    scroll-behavior: smooth;
    font-size : 62.5%;
}
body{
    font-size : 1.8rem;
    font-family: 'Raleway', sans-serif;
    background-image : linear-gradient(90deg, #C7C5F4, #776BCC);
}
a{
    text-decoration : none;
}