@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    width : 100%;
    overflow-x : hidden;
}
html{
    font-size : 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size : 1.8rem;
    font-family: "Roboto";
}
.content{
    width : 100%;
    min-height : 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    padding : 7rem 1rem; 
}
.login-signup-wrapper{
    max-width : 350px;
    height : 500px;
    margin : auto;
    overflow : hidden;
    border-radius : 1.2rem;
    box-shadow: 5px 20px 50px #000;
    position : relative;
}
.signup-wrapper,
.login-wrapper{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: column;
}
.title-signup-wrapper,
.title-login-wrapper{
    padding-top : 5rem;
    padding-bottom : 5rem;
    display: flex;
    justify-content: center;
}
.title-signup,
.title-login{
    font-size : 3.5rem;
    color : #fff;
    cursor : pointer;
    transition: font-size 0.4s;
}
.signup-form,
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1.4rem;
}
.userName-wrapper,
.email-wrapper,
.password-wrapper,
.signup-btn-wrapper,
.login-btn-wrapper{
    width : 60%;
    display: flex;
}
.userName-input,
.email-input,
.password-input,
.signup-btn,
.login-btn{
    width : 100%;
    padding : 1rem;
    outline : none;
    border : none;
    border-radius : 0.4rem;
    background: #e0dede;
    font-size : 1.4rem;
    color : #0f0c29;
}
.signup-btn,
.login-btn{
    color : #fff;
    background: #573b8a;
    font-weight : bold;
    font-size : 1.6rem;
    cursor : pointer;
    transition: background 0.5s ;
}
.signup-btn:hover,
.login-btn:hover{
    background: #6d44b8;
}
.login-wrapper{
    position : absolute;
    top : 85%;
    background: #eee;
    border-radius : 60% /10%;
    transition: top 1s;
}
.title-login-wrapper{
    padding-top : 1.5rem;
}
.title-login{
    font-size : 2rem;
    color: #573b8a;
}
#checkbox-input:checked~.login-signup-wrapper>.login-wrapper>.title-login-wrapper>.title-login{
    font-size : 3.5rem;
}
#checkbox-input:checked~.login-signup-wrapper>.signup-wrapper>.title-signup-wrapper>.title-signup{
    font-size : 2rem;
}
#checkbox-input:checked~.login-signup-wrapper>.login-wrapper{
    top :  22%;
}